/api/__pycache__/
/api/**/*.pyc
/api/**/*.pyo
/api/**/*.pyd
/api/.Python
/api/env/
/api/venv/
/api/.venv/
/api/.mypy_cache/
/api/.pytest_cache/
/api/.ruff_cache/
/api/.coverage
/api/coverage.*
/api/htmlcov/
/api/.tox/
/api/.nox/
/api/.hypothesis/
/api/.idea/
/api/.vscode/

/api/poetry.lock
/api/*.egg-info/
/api/build/
/api/dist/